﻿td, tr {
    border: 3px solid black;
}

.table {
    width: 50%;
    border-collapse: collapse;
    border: 3px solid black;
}

.black-row {
    background-color : black;
    color: white;
}

.right-aligned-row {
    text-align: right;
}